.Charts{
    margin: 20px;
    padding: 20px;
    -webkit-box-shadow: $boxShadow;
    box-shadow: $boxShadow;
    border-radius: 10px;

    .chartTitle{
        margin-bottom: 20px;
        color: $color-1;
        font-size: 25px;
        text-transform: uppercase;
    }
}