.sidebar{
    flex: 1;
    height: calc(100vh - 51px);
    background-color: $white;
    position: sticky;
    top: 50px;
    .sidebarWrapper{
        padding: 20px;
        color: $gray;
        .sidebarMenu{
            margin-bottom: 10px;
            .sidebarTitle{
                font-size: 13px;
                color: $color-1;
            }

            .sidebarList{
                padding: 5px;
                .sidebarListItem{
                    width: 50%;
                    padding: 5px;
                    margin-bottom: 5px;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    border-radius: 10px;                    
                    &:hover{
                         background-color: $color-3;
                         color: $white;   
                    }
                    .sidebarIcon{
                        margin-right: 5px;
                        font-size: 20px !important;
                    }
                }
            }
            .active{
                        background-color: $color-1;
                        color: $white;
                    }
        }
    }
}