.NewProduct {
  flex: 4;
  padding: 20px;
  .addProductForm {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    box-shadow: $boxShadow;
    -webkit-box-shadow: $boxShadow;
    border-radius: 10px;
    padding: 20px;
    .addProductItem {
      width: 500px;
      display: flex;
      flex-direction: column;
      margin-top: 10px;
      margin-right: 20px;

      label {
        margin-bottom: 10px;
        font-size: 14px;
        color: black;
        font-weight: 700;
      }

      input {
        border-bottom: 1px solid rgb(194, 194, 194);
        padding: 15px;

        border-radius: 10px;
        color: $gray;
      }

      select {
        height: 40px;
        border-radius: 5px;
        border: 1px solid $gray;
      }
    }
    .addProductButton {
      width: 400px;
      border-radius: 10px;
      padding: 7px 10px;
      background-color: transparent;
      border: 1px solid $color-1;
      color: $color-1;
      cursor: pointer;
      transition: 0.3s all ease-in-out;

      &:hover {
        background-color: $color-1;
        color: $white;
      }
    }
  }
}
