.UserDetail {
  flex: 4;
  padding: 20px;

  .userDetailTitleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .userDetailTitle {
      color: $color-1;
    }
    .userDetailAddButton {
      border: none;
      width: 80px;
      border-radius: 10px;
      padding: 7px 10px;
      background-color: transparent;
      border: 1px solid $color-1;
      color: $color-1;
      cursor: pointer;
      transition: 0.3s all ease-in-out;

      &:hover {
        background-color: $color-1;
        transform: scale(1.1);
        color: $white;
      }
    }
  }

  .userDetailContainer {
    display: flex;
    margin-top: 20px;

    .userDetailShow {
      flex: 1;
      padding: 20px;
      margin-right: 20px;
      box-shadow: $boxShadow;
      -webkit-box-shadow: $boxShadow;
      border-radius: 10px;

      .userDetailShowTop {
        display: flex;
        align-items: center;
        .userDetailShowTopImage {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
        }
        .userDetailShowTopTitle {
          display: flex;
          flex-direction: column;
          margin-left: 20px;
          .userDetailShowUsername {
            font-weight: 600;
          }
          .userDetailShowUsertitle {
            font-weight: 300;
          }
        }
      }
      .userDetailShowBottom {
        margin-top: 20px;
        .userDetailShowBottomTitle {
          font-size: 14px;
          font-weight: 600;
          color: $gray;
        }

        .userDetailShowInfo {
          display: flex;
          align-items: center;
          margin: 20px 0px;
          color: $gray;
          .userDetailShowBottomIcons {
            color: $color-1;
            font-size: 16px !important;
            margin-right: 20px;
          }
        }
      }
    }

    .userDetailUpdate {
      flex: 2;
      padding: 20px;
      box-shadow: $boxShadow;
      -webkit-box-shadow: $boxShadow;
      border-radius: 10px;

      .userDetailUpdateTitle {
        font-size: 24px;
        font-weight: 600;
        color: $color-3;
      }
      .userDetailUpdateForm {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        .userDetailUpdateLeft {
          .userDetailUpdateItem {
            display: flex;
            flex-direction: column;
            margin-top: 10px;

            label {
              margin-bottom: 5px;
              font-size: 14px;
              color: black;
              font-weight: 700;
            }
            .userDetailInput {
              width: 250px;
              border-bottom: 1px solid rgb(194, 194, 194);
              padding: 5px;
              height: 30px;
              border-radius: 10px;
              color: rgb(194, 194, 194);
            }
          }
        }

        .userDetailUpdateRight {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .userDetailUpdateUpload {
            display: flex;
            align-items: center;

            .userDetailUpdateIcon {
              color: $color-1;
              cursor: pointer;
            }

            .userDetailUpdateImage {
              width: 150px;
              height: 150px;
              border-radius: 10px;
              margin-right: 20px;
              object-fit: cover;
              box-shadow: $boxShadow;
              -webkit-box-shadow: $boxShadow;
            }
          }
          .userDetailUpdateButton {
            border: none;
            width: 100%;
            border-radius: 10px;
            padding: 7px 10px;
            background-color: transparent;
            border: 1px solid $color-1;
            color: $color-1;
            cursor: pointer;
            transition: 0.3s all ease-in-out;

            &:hover {
              background-color: $color-1;
              transform: scale(1.1);
              color: $white;
            }
          }
        }
      }
    }
  }
}
