@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$font-1: 'Mulish', sans-serif;

$color-1: #5900ff;
$color-2: rgb(0, 173, 207);
$color-3: rgba(61, 0, 89, 0.518);
$color-4: #dd8100;
$gray: #4e4e4e;
$black: rgb(40, 40, 40);
$white: rgb(251, 251, 255);

$boxShadow:5px 5px 15px 5px rgba(0, 0, 0, 0.43);

* {
  margin: 0;
  list-style-type: none;
  outline: none;
  border: none;
  text-decoration: none;
  font-family: $font-1;
  &::selection {
    background: $color-1;
  }
}

.App {
  .containerApp {
    display: flex;
    margin-top: 10px;
  }
  .others {
    flex: 4;
    
  }
}
